<div class="popUp frame flex flex-col bg-white p-10 rounded-md">
  <div class="close">
    <mat-icon class="cursor-pointer text-blackColor/50 absolute top-3 right-3"
      >close</mat-icon
    >
  </div>
  <p class="text-2xl font-semibold">Air Cargo Tracking System</p>
  <p class="text-blackColor/50">Welcome back to our air tracking system</p>
  <div class="inputBox pt-5">
    <label class="text-sm font-semibold" for="account">Account</label>
    <input
      class="input p-2 text-sm"
      placeholder="Enter your account"
      type="text"
    />
  </div>
  <div class="inputBox pt-2">
    <label class="text-sm font-semibold" for="password">Password</label>
    <input type="text" class="input" placeholder="Enter your password" />
  </div>
  <div class="pt-10 flex justify-between items-center">
    <div class="remember">
      <input type="checkbox" id="remember" />
      <label class="pl-2 cursor-pointer" for="remember">Remember me</label>
    </div>
    <select
      name=""
      id=""
      class="border rounded-sm py-1 px-5 focus:border-blackColor focus:outline-none"
    >
      <option value="chinese">中文</option>
      <option value="eng">English</option>
    </select>
  </div>

  <!-- login btn -->
  <!-- routerLink="/shipment-summary" -->
  <div
    class="btn cursor-pointer"
    (click)="loginToggle()"
    matRipple
    [matRippleColor]="rippleColor"
    style="margin-top: 30px"
  >
    <div class="cursor-pointer">Login</div>
  </div>
</div>
