<div class="footer relative bottom-0 w-full">
  <div class="bg-blackColor/20">
    <div class="container mx-auto max-w-screen-xl p-5">
      <div class="flex justify-between items-center">
        <div class="logo flex">
          <p class="text-blackColor/80 font-semibold">
            2025 THI Inc. All rights reserved
          </p>
        </div>
        <div class="contact flex">
          <p class="text-blackColor/80 font-semibold">Private policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
