<div class="header bg-white px-2">
  <div class="menu pt-5 flex items-end mx-auto max-w-screen-xl justify-between">
    <div routerLink="/login" class="logo cursor-pointer flex pb-2 items-center">
      <img class="object-contain h-[30px]" src="t3ex-logo.svg" alt="logo" />
      <p class="text-xl pl-2 font-semibold text-blackColor">Tracking System</p>
    </div>
    <div class="item">
      <ul class="flex gap-5">
        @for (item of menuList; track $index) {
        <li
          (click)="selectMenu(item.name)"
          [routerLink]="item.routerLink"
          [class]="selectedMenu === item.name ? 'border-primary':'border-transparent'"
          class="cursor-pointer font-medium hover:text-blackColor/90 py-2 px-3 mr-1 border-b-4 "
        >
          {{item.name}}
        </li>
      }
        <li
          class="login flex items-center cursor-pointer hover:text-blackColor/90"
        >
          <mat-icon class="text-blackColor/80">account_circle</mat-icon>
          <p class="pl-1">Login</p>
        </li>
        <li
          class="login flex items-center cursor-pointer hover:text-blackColor/90"
        >
          <mat-icon class="text-blackColor/80">language</mat-icon>
          <p class="pl-1">English</p>
        </li>
      </ul>
    </div>
  </div>
</div>
