@if(selectedMenu =='Shipment List' && !isLogin){
<app-login-popup
  (sendOpenPopup)="getOpenPopup(isOpenPopup)"
  class="fixed z-20 drop-shadow-md top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
>
  <mat-icon
    close
    class="cursor-pointer text-blackColor/50 absolute top-3 right-3"
    >close</mat-icon
  >
</app-login-popup>

@if (isOpenPopup) {
<div
  (click)="getOpenPopup(isOpenPopup)"
  class="alpha absolute z-[15] w-full h-full bg-blackColor/50"
></div>
} }

<div class="header bg-white px-2">
  <div class="menu pt-5 flex items-end mx-auto max-w-screen-xl justify-between">
    <div routerLink="/login" class="logo cursor-pointer flex pb-2 items-center">
      <img class="object-contain h-[30px]" src="t3ex-logo.svg" alt="logo" />
      <p class="cursor-pointer text-xl pl-2 font-semibold text-blackColor">
        Tracking System
      </p>
    </div>
    <div class="item">
      <ul class="flex gap-5">
        @for (item of menuList; track $index) {
        <li
          (click)="selectMenu(item.name)"
          [routerLink]="item.routerLink"
          [class]="
            selectedMenu === item.name
              ? 'text-blackColor'
              : 'text-blackColor/70'
          "
          class="cursor-pointer font-medium hover:text-blackColor/90 px-3 mr-1"
        >
          {{ item.name }}
        </li>
        <div
          [class]="
            selectedMenu === 'Shipment List'
              ? 'translate-x-[190px] w-[120px]'
              : 'translate-x-[0px] w-[160px]'
          "
          class="absolute transform-all duration-300 transition-all border-primary border-b-4 py-4"
        ></div>
        }

        <!-- (mouseleave)="toggleLogout = false" -->
        <li
          (click)="showLogout()"
          class="login cursor-pointer -translate-y-1 flex items-center"
        >
          <mat-icon
            class="text-blackColor/80"
            [class]="isLogin ? '' : 'cursor-pointer'"
            >account_circle</mat-icon
          >
          @if (isLogin) {
          <p class="pl-1 cursor-pointer hover:text-blackColor/90">
            {{ username }}
          </p>
          <!-- Log out -->
          @if (toggleLogout) {
          <div
            (click)="logout()"
            class="absolute top-10 rounded-md -right-5 border bg-white text-nowrap p-[2px]"
          >
            <p
              class="cursor-pointer hover:bg-blackColor/5 px-4 py-1 text-center m-0"
            >
              Logout
            </p>
          </div>

          } }
          <!-- Login btn -->
          @else{
          <p
            (click)="openPopup()"
            class="pl-1 cursor-pointer hover:text-blackColor/90"
          >
            Login
          </p>

          }
        </li>
        <li
          class="-translate-y-1 flex items-center cursor-pointer hover:text-blackColor/90"
        >
          <mat-icon class="text-blackColor/80 cursor-pointer"
            >language</mat-icon
          >
          <p class="pl-1 cursor-pointer">English</p>
        </li>
      </ul>
    </div>
  </div>
</div>
