<div class="py-3 w-fit h-fit flex items-center cursor-pointer group">
  <mat-icon
    class="cursor-pointer text-blackColor group-hover:text-primary group-hover:font-bold transition-all"
    >arrow_back</mat-icon
  >
  <p
    routerLink="/shipment-list/all-shipment"
    class="cursor-pointer text-blackColor text-lg pl-2 group-hover:text-primary group-hover:font-bold transition-all"
  >
    Back to list
  </p>
</div>
<div class="frame rounded-md pb-[100px] mb-[100px]">
  @if (selectedtrackingNumber) {
  <app-tracking-details
    [General_Info]="General_Info"
    [Route_Info]="Route_Info"
    [milestones]="milestones"
    [nowStatus]="nowStatus"
    [isCompleted]="isShipmentCompleted"
    [processList]="processList"
  ></app-tracking-details>
  <app-other-details
    [General_Info]="General_Info"
    [Package_Info]="Package_Info"
    [Route_Info]="Route_Info"
    [Shipper_Info]="Shipper_Info"
    [Consignee_Info]="Consignee_Info"
    (sendSelectedMenu)="getSelectedMenu($event)"
    [milestones]="milestones"
    [milestonesColumns]="milestonesColumns"
    [flights]="flights"
    [flightsColumns]="flightsColumns"
    [fileDataSource]="fileDataSource"
    [ImgDataSource]="ImgDataSource"
    [columns]="columns"
  ></app-other-details>
  }
</div>
