<div class="otherDetails pt-3 pb-[50px]">
  <div class="bg-white rounded-md p-10">
    <div class="detail-menu flex justify-between mb-5 border-b-2">
      <div class="flex gap-x-2 relative">
        @for (item of menu; track $index) {
        <p
          (click)="menuSelected(item, $index)"
          [class]="selectedMenu === item ? '' : ' text-blackColor/50'"
          class="cursor-pointer text-xl transition-all font-semibold hover:text-blackColor/90 py-0 pb-3 px-3 mr-1 m-0"
        >
          {{ item }}
        </p>
        }
        <div
          [class]="
            selectedMenu === 'Shipment Details'
              ? 'border-primary w-[180px]'
              : selectedMenu === 'Files'
              ? 'border-primary  translate-x-[320px] w-[70px]'
              : selectedMenu === 'Milestones'
              ? 'border-primary translate-x-[185px] w-[125px]'
              : 'border-white'
          "
          class="absolute border-b-4 pt-[38px] transition-all"
        ></div>
      </div>
    </div>
    <div class="min-h-[600px]">
      <!-- table: Shipment Details -->
      @if (selectedMenu === 'Shipment Details') {
      <app-shipment-detail
        [General_Info]="General_Info"
        [Package_Info]="Package_Info"
        [Route_Info]="Route_Info"
        [Shipper_Info]="Shipper_Info"
        [Consignee_Info]="Consignee_Info"
      ></app-shipment-detail>
      }
      <!-- table: Files -->
      @if (selectedMenu === 'Files') {
      <!-- <app-table-template
        [dataSource]="flights"
        [displayedColumns]="flightsColumns"
      ></app-table-template> -->
      <app-table-template
        [dataSource]="ImgDataSource"
        [displayedColumns]="columns"
      ></app-table-template
      >}
      <!-- table: Milestones -->
      @if (selectedMenu === 'Milestones') {
      <app-table-template
        [dataSource]="milestones"
        [displayedColumns]="milestonesColumns"
      ></app-table-template>

      <div style="padding-top: 20px"></div>
      <app-table-template
        [dataSource]="flights"
        [displayedColumns]="flightsColumns"
      >
      </app-table-template
      >}
    </div>
  </div>
</div>
