<app-header></app-header>
<!-- @if (isLoading){
<app-loading
  class="fixed overflow-hidden bg-white/60 w-fit h-fit -z-10"
></app-loading>
} -->
<div class="bg-blackColor/5">
  <div class="container mx-auto max-w-screen-xl p-3">
    <!-- search -->
    <app-search-tracking-num
      (alertMessageOutput)="getAlertMessageOutput($event)"
      (isValidTrackingNumberOutput)="getIsValidTrackingNumberOutput($event)"
    ></app-search-tracking-num>
    <!-- trackingDetails -->
    @if (isValidTrackingNumber) {
    <!-- [sendDetails]="searchResult" -->
    <app-tracking-details [details]="searchResult"></app-tracking-details>
    <app-other-details></app-other-details>
    }@else {
    <div class="h-full">
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center"
      >
        <span
          class="cursor-default hover:rotate-180 hover:text-blue-400 hover:transition-all duration-[2.5s] material-symbols-outlined text-blackColor/50 text-[60px]"
        >
          package_2
        </span>
        @if (alertMessage !== '') {
        <p
          class="text-blackColor/50 text-xl font-semibold ml-3"
          [innerHTML]="alertMessage"
        ></p>
        } @else {
        <p class="text-blackColor/50 text-xl font-semibold ml-3">
          Please enter a tracking number.
        </p>
        }
      </div>
    </div>
    }
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
