<!-- table -->
<div class="table w-full pt-5">
  <table class="table-overrides" mat-table [dataSource]="dataSource">
    <!-- Order Column -->
    <ng-container
      *ngFor="let column of displayedColumns; let i = index"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>
        <div>{{ column }}</div>
      </th>

      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="column === 'Files'; else defaultContent">
          <div *ngIf="item.Files">
            <div matRipple class="btn-outline max-w-fit">View images</div>
          </div>
        </ng-container>
        <ng-template #defaultContent>
          {{ item[column] }}
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
